
.tela{
    -fx-background-color: #708090;
}

.label{
}
.list-view{

}
.table-view{

}
.button{
    -fx-background-radius: 10px;
}

#btnPlayer{
}


.toggle-button{
    -fx-background-radius: 10px;
}


.menu-button{
    -fx-background-radius: 10px;
}
.menu-item{
}
.root{
}
.toggle-button:hover{

}

.button:hover{
}

#btnPlayer:hover{
    -fx-opacity: 1.0;
}